.register-card{
    width:300;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%)
}
.msg{
  color:red
}
div.alter-password{
  width:50%;
  margin-left: 20%;
  margin-top: 1em;
}
